body {
  background-color: #2A2D46;
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: #FFD60A;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: #fff;
}

.headline {
  margin-top: 50px;
  margin-bottom: 30px;
}

p {
  color: #fff;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.space-after {
  margin-bottom: 50px;
}

.purple {
  background-color: #5E5CE6;
  color: #fff;
  border-color: #5E5CE6;
  margin-bottom: 50px;
}

.purple:focus {
  border-color: #8280F2;
}

.inv {
    display: none;
  }

.data-container {
  min-height: 605px;
}

.footer {
  color: #fff;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

a {
  color: #FFD60A;
}

a:hover {
  color: #ffe566;
}
